---
experiment:
  pipeline: Pooled Cell Painting
  project_tag: Periscope
  batches:
    - BATCH_ID
  plates:
    - PLATE01
    - PLATE02
  wells:
    set1:
      - Well1
      - Well2
      - Well3
    set2:
      - Well4
      - Well5
      - Well6
  split:
    qc:
      batches: false
      plates: false
      wells: false
    profile:
      batches: false
      plates: false
      wells: false
  barcoding_cycles: 10
  sites_per_image_grid_side: 10
  control_barcode_ids:
    - NT
---
directory_structure:
  input_data_dir: /Users/gway/work/projects/2018_11_20_Periscope_Calico/workspace/analysis
  batch_id_folder: true
  output_data_dir: data/
  preprocess:
    base: 0.site-qc/
    batch_id_folder: true
    spots: spots/
    paint: paint/
    data: data/
    results: results/
    figures: figures/
  profile:
    base: 1.profiles/
    batch_id_folder: true
    single_cell: single_cell/
    profiles: profiles/
